<% content_for :head do %>
  <%= stylesheet_link_tag  'commentaries', media: 'all' %>
<% end %>

<div class="row">
  <div class="col-md-12 ">
    <%= render :partial => @market_studies %>
    <center><%= paginate @market_studies %></center>
  </div><!-- /.blog-main -->
</div><!-- /.row -->


