

<div class="panel panel-default">
	<div class="panel-heading">New Market Internal</div>
	<div class="panel-body">
		<%= render 'form' %>
		<%= link_to 'Back', market_internals_path %>
	</div>
</div>

