<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
  	<div class="panel panel-default col-md-6 col-md-offset-2">
  		<div class="panel-heading">Account Suspension Notice</div>
  		<div class="panel-body">
  			<h1>Hi, <%= @user.username %></h1>
  			<hr>
  			<p>We are sorry to announce that your account has been suspended because we were unsuccessful in getting a payment from your account or you have unsubscribed from our service . <strong>You can resubscribe by going to our site.</strong></p>
	       <hr>
	       <p><strong> Regards,</strong><br> Stock Cloud Research Team</p>
  		</div>
  	</div>
    	
  </body>
</html>