<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
  	<div class="panel panel-default col-md-6 col-md-offset-2">
  		<div class="panel-heading">Indext Research has a new subscriber!</div>
  		<div class="panel-body">
  			<h5>Hi, Indext Research Admin </h5>
  			<br>
  			<p>A new subscription has been confirmed. Please see the details below:</p>
  			<hr>
  			<table class="table">
			    <thead>
			      <tr>
			        <th>Name</th>
			        <th>Email</th>
			        <th>Payer Status</th>
			        <th>Timestamp</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td><%= @new_user.username%></td>
			        <td><%= @new_user.email %></td>
			        <td><span class = "label label-info"><%= @new_user.transactions.where('txn_type=?', "subscr_signup").first.payer_status rescue '-'%></span></td>
			        <td><span class = "label label-info"><%=@new_user.transactions.where('txn_type=?', "subscr_signup").created_at rescue '-' %></span></td>
			      </tr>
			      
			    </tbody>
			  </table>
  			
  		</div>
  	</div>
    	
  </body>
</html>