<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
  	<div class="panel panel-default col-md-6 col-md-offset-2">
  		<div class="panel-heading">Welcome to Stock Cloud Research</div>
  		<div class="panel-body">
  			<h1>Hi, <%= @user.username %></h1>
  			<hr>
  			<p>Stock Cloud Research team welcomes you on our site</p>
	       <hr>
	       <p><strong> Regards,</strong><br> Stock Cloud Research Team</p>
  		</div>
  	</div>
    	
  </body>
</html>