<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
  	<div class="panel panel-default col-md-6 col-md-offset-2">
  		<div class="panel-heading">Welcome to Indext Research</div>
  		<div class="panel-body">
  			<h1>Hi, <%= @user.username %></h1>
  			<hr>
  			<p>The Indext Research team welcomes you to our site. </p>
	      <hr>
        <p>We look forward to serving you. Should you have any questions, comments or concerns please do not hesitate to contact us. We love hearing from you. </p>
	       <p><strong> Kind Regards,</strong><br> Indext Research Team</p>
  		</div>
  	</div>
  </body>
</html>

