<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @excelsheet.filename %>
</p>

<%= link_to 'Edit', edit_excelsheet_path(@excelsheet) %> |
<%= link_to 'Back', excelsheets_path %>
