
<div class="panel panel-default">
	<div class="panel-heading">Editing General Market Internal</div>
	<div class="panel-body">
		<%= render 'form' %>
		<%= link_to 'Show', @general_market_study %> |
		<%= link_to 'Back', general_market_studies_path %>
	</div>
</div>
