Disclaimer for Indext Research</br>

If you require any more information or have any questions about our site's disclaimer, please feel free to contact us by email at <a href="mailto:bannerman1985@gmail.com">bannerman1985@gmail.com</a>.</br>

Disclaimers for www.indextresearch.com:</br>

The publishers of www.indextresearch.com are not investment advisers, and do not provide investment advice or recommendations directed to any particular subscriber or in view of the particular circumstances of any particular person. The information provided by www.indextresearch.com is obtained from sources believed to be reliable but is not guaranteed as to accuracy or completeness. Subscribers to www.indextresearch.com or any other persons who buy, sell or hold securities should understand the inherent high level of risk, should proceed with caution and consult with a financial advisor.</br>

All the information on this website is published in good faith and for general information purpose only. The materials are not a substitute for obtaining professional advice from a qualified person, firm or corporation. www.indextresearch.com does not make any warranties about the completeness, reliability and accuracy of this information. Any action you take upon the information you find on this website (www.indextresearch.com), is strictly at your own risk. www.indextresearch.com will not be liable for any losses and/or damages in connection with the use of our website.</br>

From our website, you can visit other websites by following hyperlinks to such external sites. While we strive to provide only quality links to useful and ethical websites, we have no control over the content and nature of these sites. These links to other websites do not imply a recommendation for all the content found on these sites. Site owners and content may change without notice and may occur before we have the opportunity to remove a link which may have gone 'bad'.</br>

Please be also aware that when you leave our website, other sites may have different privacy policies and terms which are beyond our control. Please be sure to check the Privacy Policies of these sites as well as their "Terms of Service" before engaging in any business or uploading any information.</br>

The Service and its original content, features and functionality are and will remain the exclusive property of Indext Research LLC and its licensors. The Service is protected by copyright, trademark, and other laws of both the United States and foreign countries. Electronic repliaciton replicaiton of web site or content is STRITLY PROHIBITED.</br>

Consent</br>

By using our website, you hereby consent to our disclaimer and agree to its terms.</br>


Any comments, quesitons or concerns please contact: Indext Research.</br>
<a href="mailto:info@indextresearch.com">info@indextresearch.com</a>
 