<p>Indext Research is looking for individuals of all backgrounds who display evidence of outstanding ability and have a track record of exceptional accomplishment.</p>
 <p><strong>Our philosophy is simple:</strong> We apply a scientific process to uncover new market opportunities. We love problem solving, we value intellectual curiosity, creative idea generation and the relentless pursuit of results. </p>

<strong>Please send resumes to: <%= mail_to "careers@indextresearch.com", "careers@indextresearch.com" , target: "_blank" %></strong>

