


<p>Indext Research is looking for individuals of all backgrounds who display evidence of outstanding ability and have a track record of exceptional accomplishment.</p>
<p>Our philosophy is simple: We apply a scientific process to uncover new market opportunities. We love problem solving, we value intellectual curiosity, creative idea generation and the relentless pursuit of results.</p>

<p><strong>Please send resumes to: <%= mail_to "careers@indextresearch.com", "careers@indextresearch.com" , target: "_blank" %></strong></p>
<br>
<h3>Immediate Positions: </h3>
<h5>Quantitative Analyst </h5>
<p>Seeking word-class researchers and engineers who are obsessive about data analysis and cracking complex problems in the financial markets. Require exceptional knowledge of computational methods, numerical algorithms and statistical approaches. </p>
<h5>Requirements Include</h5>
<p>A bachelors or advanced degree in quantitative disciplines </p>
<p>Strong programming skills in Java, C, C++ or Python</p>
<p>Solid statistical knowledge and familiarity with packages such as R, pandas SAS or matlab
Open minded curiosity</p>
<p>Although we study finance data sets, financial experience is not a requirement </p><br>
<h5>Quantitative Research Scientist</h5>
<p>Seeking both recent graduates and experienced professionals who possess the following:
M.S or Ph.D. in a technical field such as math, physics, engineering or similar </p>
<h5>Requirements Include</h5>
<p>Advanced knowledge in at least one of the following: </p>
<p>Probability Theory and Statistics, Stochastic Processes, Time Series Analysis, Stochastic Calculus, Partial Differential Equations PDE's or any heavily theoretical area of math, physics or engineering.</p>
<p>Solid experience with scripting in Python or Perl</p>
<p>Experience with JAVA, C, or C++ programming</p>
