<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>

<% content_for :head do %>
    <%= stylesheet_link_tag  'interactive_charts', media: 'all' %>
<% end %>


<div class="row">

	<div class="col-md-12">
      <table id="example" class="display" cellspacing="0" width="100%">
       <col width="400">
       <col width="300">
       <col width="300">
        <thead>
          <tr>
              <th>Indicator</th>
              <th>Category</th>
              <th>Period</th>
          </tr>
        </thead>
        <tbody>
        <% @graphs.each do |graph| %>
            <tr>
                <td><%= graph.name %></td>
                <td><%= graph.category.name %></td>
                <td><%= graph.period %></td>
            </tr>
          
        <% end %>
        </tbody>
        </table>
	</div>
</div>




<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"  ></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>