<br>
<br>
<div class="panel panel-default">
  <div class="panel-heading"><srtong>EDITING COMMENTARY</srtong></div>
 	 <div class="panel-body"><%= render 'form' %>
		<%= link_to 'Back', commentaries_path %>
	</div>
</div>



